@use "../../../sass/abstracts/index.scss" as a;
.clientCardSection {
  width: 100%;
}

.clientCardWrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  overflow: hidden;

  max-width: 720px;
  min-width: 410px;

  background: linear-gradient(
    358.53deg,
    rgba(0, 0, 0, 0.33) 1.79%,
    rgba(0, 0, 0, 0) 99.33%
  );
}

.clientCardBottomContainer {
  position: absolute;
  width: 90%;
  z-index: 30;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  align-items: flex-start;
  padding-bottom: 1.5em;
}

.clientCardTitle {
  @include a.xxs;
}

.clientCardTtext {
  @include a.l;
  text-align: left;
}

.clientCardImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
  z-index: -10;

  img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  :hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
}

@media only screen and (max-width: 410px) {
  .clientCardTtext {
    @include a.s;
  }
}
