@use "../../../sass/abstracts/index.scss" as a;

.clientListSection {
  background-color: black;
  width: 1440px;
  height: 977px;
}

.clientListHeader {
  @include a.m;
  text-align: left;
  padding-left: 1em;
  padding-top: 1.5em;
}

.clientListText {
  @include a.xs;
  text-align: left;
  padding-left: 2em;
  padding-right: 1.5em;
}
