// Fonts

@import url("https://fonts.cdnfonts.com/css/maison-neue");

// Font sizes

$text-cta: 16px;
$text-xxs: 16px;
$text-xs: 18px;
$text-s: 26px;
$text-m: 34px;
$text-l: 48px;
$text-xl: 60px;
$text-xxl: 70px;
$text-xxxl: 200px;
