@mixin cta {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

@mixin xxs {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

@mixin xs {
  font-family: "Maison Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
}

@mixin s {
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 26px;
}

@mixin m {
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 34px;
}

@mixin l {
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 48px;
}

@mixin xl {
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
}

@mixin xxl {
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 70px;
}

@mixin xxxl {
  font-style: normal;
  font-weight: 400;
  font-size: 200px;
  line-height: 200px;
}
