@use "../../../sass/abstracts/index.scss" as a;

.navWrapper {
  .navList {
    display: flex;
    gap: 48px;

    li {
      @include a.xs;
      list-style: none;
      text-transform: uppercase;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
