@use "../../../sass/abstracts/index.scss" as a;

.footerLinksWrapper {
  .footerLinksList {
    display: flex;
    gap: 20px;

    li {
      @include a.cta;
      list-style: none;
      text-transform: uppercase;
    }
  }
}
