.footerSection {
  display: flex;

  width: 100%;

  min-width: 410px;
}

.footerBlackWrapper {
  width: 100%;
  max-width: 1323px;
  display: flex;
  flex-direction: column;
  background-color: #121212;
}

.footerArrowWrapper {
  background-color: white;
  width: 118px;
  height: 100%;
  align-items: center;
  justify-content: center;
  img {
    padding-top: 50%;
  }
}
.iconSocialNetworks {
  display: none;
}
.InstagramIcon {
  width: 24px;
  height: 24px;
}
.footerUpSection {
  display: flex;
  padding: 3em;
  gap: 4em;
}

.footerDownSection {
  padding: 3em;
}

@media only screen and (max-width: 750px) {
  .footerArrowWrapper {
    display: none;
  }
  .footerUpSection {
    padding: 1em !important;
    gap: 0 !important;
  }
  .footerLogoWrapper {
    display: none;
  }
  .footerSection {
    height: 663px !important;
  }
}

@media only screen and (max-width: 450px) {
  .iconSocialNetworks {
    display: flex;
    flex-direction: column;
    gap: 2em;
    img {
      width: 24px;
      height: 24px;
    }
  }
  .footerUpSection {
    display: flex !important;
    justify-content: space-between !important;
    border-right: 3em !important;
  }
  .footerBlackWrapper {
    justify-content: space-between;
  }
  .footerDownSection {
    padding-bottom: 2em !important;
    padding-left: 0 !important;
  }
}
