.navbarContainer {
  width: 100%;
  .headerWrapper {
    display: flex;
    background: #121212;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: relative;
    width: 1440px;
    height: 115px;
    left: 0px;
    top: 0px;
  }
}

.navbarlogoWrapper {
  padding-left: 1.5em;
}

.navbarModalWrapper {
  padding-right: 2.5em;
}

@media only screen and (max-width: 1020px) {
  .navbarNavigation {
    display: none !important;
  }
}

@media only screen and (max-width: 410px) {
  .navbarContainer {
    max-width: 410px;
  }
}
