@use "../../../sass/abstracts/index.scss" as a;

.footerInfoSection {
  display: flex;
  flex-direction: row;
  color: #808080;
  justify-content: space-between;
}

.footerInfoWrapper {
  .footerInfoList {
    display: flex;
    gap: 36px;

    li {
      @include a.cta;
      list-style: none;
    }
  }
}

.footerDeptAgency© {
  @include a.cta;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 13px !important;
  line-height: 15px !important;
  text-align: left;
}
@media only screen and (max-width: 510px) {
  .footerInfoSection {
    flex-direction: column;
  }
  .footerInfoList {
    flex-direction: column;
    gap: 0px !important;
    li {
      font-family: Arial;
      font-size: 13px !important;
      font-weight: 400;
      line-height: 15px !important;
      letter-spacing: 0em;
      text-align: left;
    }
  }
  .footerDeptAgency© {
    padding-left: 3em;
  }
}
