@use "../../../sass/abstracts/index.scss" as a;

.ClientNoteCard {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 16px;
  width: 100%;

  max-height: 568px;
  overflow: hidden;
  position: relative;
  background: linear-gradient(
    358.53deg,
    rgba(0, 0, 0, 0.33) 1.79%,
    rgba(0, 0, 0, 0) 99.33%
  );
}

.ClientNoteCardBottomContainer {
  position: absolute;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  align-items: flex-start;
  padding-bottom: 1.5em;
  padding-left: 1em;
}

.ClientNoteCardTitle {
  @include a.xxs;
}

.ClientNoteCardText {
  @include a.l;
}

.ClientNoteCardImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
  z-index: -10;
}

@media only screen and (max-width: 510px) {
  .ClientNoteCard {
    height: 484px !important;
    min-width: 410px;
  }
  .ClientNoteCardText {
    @include a.s;
  }
}
