.cardClientWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #121212;
  max-width: 476px;
  max-height: 568px;
}

@media only screen and (max-width: 510px) {
  .note3 {
    display: none;
  }
  .cardClientWrapper {
    max-height: 256px !important;
    max-width: 410px;
  }
}

.cardClientTextSection {
  background-color: black;
}
