@use "../../../sass/abstracts/index.scss" as a;

.formSection {
  background-color: white;
  color: #121212;
  width: 1440px;
  height: 438px;
  display: flex;
}

.formHeader {
  font-weight: 400;
  font-size: 48px;
  line-height: 37px;
  width: 305px;
  height: 185px;
  text-align: left;
}

.formFormWrapper {
  display: flex;
}
